.App {
  text-align: center;
  font-family: Trebuchet MS;
}

.barber {
  display: flex; 
  justify-content: center; 
}

.barber-info {
  align-self: flex-start;
  margin-top: 5rem;
}

.barber-img{
  border-radius: 100%;
  width: 4rem
}

.card-body {
  background-color: rgb(82, 64, 51);
}

.barber-card{
  border: 0.2rem solid rgb(0, 0, 0);
  margin-top: 5rem;
  margin-bottom: 1rem;
  height: 100%;
  color: white;
}

.barber-cut{
  height: 60vh;
  vertical-align: top;
}

.hidden {
  display: none;
}

.bg-image {
  background-image: url('Images/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .barber {
    display: flex;
    flex-direction: column;
  }

  .barber-card {
    margin-bottom: 20px;
    width: 80%;
  }

  .barber-info {
    width: 80%;
    margin: 0;
  }

  .barber-cut {
    width: 80%;
    height: auto;
  }

  .barber-img {
    max-width: 80px;
    max-height: 80px;
  }
  
}

