.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.barber {
  display: flex; 
  justify-content: center;
  
}

.barber-info {
  align-self: flex-start;
  margin-top: 5rem;
}

.barber-img{
  border-radius: 100%;
  width: 4rem
}

.barber-card{
  border: 0.2rem solid rgb(57, 54, 54);
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.barber-cut{
  height: 60vh;
  vertical-align: top;
}

.listgroup {
  font-size: 20px;
}

.hidden {
  display: none;
}
